<html>
    <head>
        <title>List</title>
    </head>
    <body>
            <div id="content">
                <form method="post" action="{{ url_for('process') }}">
                  <label for="firstName">Please enter first name:</label>
                  <input type="text" name="firstName" /><br />
                  <label for="lastName">Please enter last name:</label>
                  <input type="text" name="lastName" /><br />
                  <label for="id">Please enter id:</label>
                  <input type="text" name="id" /><br />
                  <label for="url">Please enter linkedin profile url:</label>
                  <input type="text" name="url" /><br />
                  <input type="submit" />
                </form>
            </div>
        <div id="container">
            <div class="title">
                <h1>List of customers</h1>
            </div>
            {%for name in names%}
            <li>{{name['firstName']|e}} with id: {{ name['id']|e}} and status : {{name['status']|e}} </li>
            {%endfor%}
        </div>
    </body>
</html>
